.wrapper{
     width: 100%;
    max-width:100%;
    margin: 0 ; 
    height: 200px;
    

}

.flex-container{
    display: flex;
    background-color:#fff;
    justify-content: ;
    
    
    /* align-self: center; */
 


}

.box{
    height: 100px;
    min-width: 100px;
    width: 320px;
    
 
  
    
}

.one{
    background: red ;
   flex-shrink: 4;
    
}
.two{
    background: blue ;
    flex-grow: 2;
    align-self: auto;
}

.three{
    background: yellow ;
    flex-grow: 2;
    flex-direction: ;
    
}

