*{
  box-sizing: border-box;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   /* background-color: whitesmoke;  */
}





.bannercontainer {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-content: center;
 justify-content: center;
 background-image: url(img/bg-masthead.jpg)  ;
 background-size: cover;
 height: 600px;
 overflow: hidden;

}


.bannercontainer div{
  text-align: center;

}

.bannercontainer button{
  padding: 1.23rem;
  background-color: #1D809F;
  border-color: #1D809F;
  color: white;
}



.portfoliocontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
  overflow: hidden;
 
 }
 
 
 .portfoliocontainer div{
   text-align: center;
 
 }
 
 .portfoliocontainer button{
   padding: 1.23rem;
   background-color: #212529;
   border-color: #212529;
   color: white;
 }

/* .fas{
  color: white;
  background-color: red;
  padding: 60px ;
  border-radius: 100%;
} */



 .servicescontainer {
  background-color: #1D809F;
  background-size: cover;
  height: 300px;
  overflow: hidden;
  text-align: center;
  color:white;

 
 }



 
 
 /* .servicescontainer div{
   text-align: center;
   margin: 10px;
   color:white;
 
 } */

.items-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  /* align-items: center; */
  margin: 20px;

}

/* .items-container .fa{
  border-radius: 50%;
} */

.fa{
 
  border-radius: 30px;
  background-color: white;
  height: 50px;
  width: 50px;
  color: black;

}




.welcomecontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-image: url(img/bg-callout.jpg)  ;
  background-size: cover;
  height: 600px;
  overflow: hidden;
 
 }
 
 
 .welcomecontainer div{
   text-align: center;
 
 }
 
 .welcomecontainer button{
   padding: 1.23rem;
   background-color: #1D809F;
   border-color: #1D809F;
   color: white;
 }






 .item-container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;


  height: 300px;
  overflow: hidden;
 
 }
 
 
 .portfoliocontainer2 div{
   text-align: center;
 
 }
 




 .impossiblecontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #1D809F;
  background-size: cover;
  height: 300px;
  overflow: hidden;
 
 }


 .impossiblecontainer div{
  text-align: center;

}

.impossiblecontainer button{
  padding: 1.23rem;
  background-color: #212529;
  border-color: #212529;
  color: white;
}





.button-impossible{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.button-impossible div{
  text-align: center;
  margin: 10px;
 

}





.footercontainerbanner{

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-image: url(img/map.jpeg)  ;
    background-size: cover;
    height: 400px;
    overflow: hidden;
   

}


.footercontainericons{
  display: flex;
}




